.sidebar {
    width: 80px;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 2;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.sidebar ul li a {
    color: #333;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #00796b;
}